*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    border: 1px solid black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.padding-header{
    padding: 0 1rem;
}
main{ 
    flex: 1;
}
.centro{
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
}
.texto1{
    flex: 1;
}
.texto2{
    flex: 2;
}
article{
    border: 1px solid black;
    
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.imagem{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 160px;
    padding: 10px;
}
footer{
    border: 1px solid black;
}